
.formControl.error input {
    border: 1px solid red;
}
.formControl.error textarea {
    border: 1px solid red;
}
.formControl.error span {
    color:  red;
}
.errorForm {
    border: red 1px solid;
    padding: 5px;
    color: red;

    display:inline-block;
}